.#*
*~
/apps/etorrent/ebin/etorrent.app
/apps/rlimit/ebin/rlimit.app
/apps/etorrent/.eunit
/apps/etorrent/src/tags
/apps/etorrent/logs
*.beam
deps/*
/dev
/erl_crash.dump
err.*log
/priv/webui/*.log
/rel/etorrent
/rel/vars/etorrent-dev_vars.config
*.swp
tracer.log
webui/*.log
/depgraph.dot
/depgraph.pdf
/depgraph.png
/apps/etorrent/doc
/documentation/sup_tree_20101220.pdf
/documentation/sup_tree_20101220.png
/documentation/sup_tree_20110106.pdf
/documentation/sup_tree_20110106.png
.eunit/
/etorrent_dialyzer.plt
# Common tests
/test/etorrent_SUITE_data/test_file_30M.random
/test/etorrent_SUITE_data/test_file_30M.random.torrent
test/etorrent_SUITE_data/test_dir_2x30M
test/etorrent_SUITE_data/test_dir_2x30M.torrent
/logs/*
test/etorrent_SUITE_data/log/
