{sub_dirs, ["rel", "apps/etorrent", "apps/rlimit"]}.

{require_otp_vsn, "R14|R15"}.

{cover_enabled, true}.

{edoc_opts, [{todo, true}]}.

{xref_checks, [undefined_function_calls, locals_not_used, exports_not_used]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [
        {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", {branch, "master"}}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
        {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "master"}},
        {mimetypes, ".*",
         {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
        {meck, ".*",
         {git, "git://github.com/klaar/meck.git", "file-bif-passthrough"}},
        {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
       ]}.

{erl_opts, [
            %% bin_opt_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            %% warn_unused_import,
            warn_bif_clash,
            %% warn_missing_spec,
            warn_untyped_record,
            debug_info,
            {parse_transform, lager_transform}]}.
