{sub_dirs, ["rel", "apps/etorrent"]}.

{require_otp_vsn, "R13B03|R13B04|R14"}.

{cover_enabled, true}.

{edoc_opts, [{todo, true}]}.

{xref_checks, [undefined_function_calls, locals_not_used, exports_not_used]}.

{eunit_opts, [{include, "../include"}, {report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [
       {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
       {riak_err, ".*", {git, "git://github.com/basho/riak_err.git", "master"}},
       {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
       {ibrowse, ".*", {git, "git://github.com/edwardw/ibrowse.git", "master"}}
       ]}.
