{sub_dirs, ["rel", "apps/etorrent"]}.

{require_otp_vsn, "R13B04|R14"}.

{cover_enabled, true}.

{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls, locals_not_used, exports_not_used]}.

{deps, [
       {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
       {riak_err, ".*", {git, "git://github.com/basho/riak_err.git", "master"}}
       ]}.
