{release, {etorrent, "1.2.1"},
 [{upnp, load},
  {azdht, load},
  {etorrent_core, permanent} ]}.

{extended_start_script, true}.
{sys_config, "rel/dev.sys.config"}.

{overlay, [{mkdir, "log"},
           {mkdir, "spool"},
           {mkdir, "data"},
           {copy, "rel/vm.args",
            "releases/\{\{release_version\}\}/vm.args"}
          ]}.


