{release, {etorrent, "1.2.1"},
 [{etorrent_core, permanent} ]}.

{extended_start_script, true}.
{sys_config, "rel/sys.config"}.

{overlay_vars, "rel/dev.config"}.
{overlay, [{mkdir, "log"},
           {mkdir, "log/sasl"},
           {copy, "rel/vm.args",
            "releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"}
          ]}.


