[{modules, [ mod_alias, mod_auth, mod_esi, mod_actions, mod_cgi, mod_dir, mod_get, mod_head, mod_log, mod_disk_log ]},
 {mime_types, [{"html", "text/html"}, {"css", "text/css"}, {"js", "text/javascript"}]},
 {server_name,"etorrent_webui"},
 {bind_address, {127,0,0,1}},
 {server_root,"/home/jlouis/Projects/etorrent/webui"},
 {port,8080},
 {document_root,"/home/jlouis/Projects/etorrent/webui/htdocs"},
 {directory_index, ["index.html"]},
 {erl_script_alias, {"/ajax", [etorrent_webui]}},
 {error_log, "error.log"},
 {security_log, "security.log"},
 {transfer_log, "transfer.log"}].
