/* Etorrent style sheet */
/*
Primary Color:
    00AA72		207F60		006E4A		35D4A0		60D4AE
Secondary Color A:
    FFDE00		BFAD30		A69000		FFE640		FFED73
Secondary Color B:
    7109AA		5F2580		48036F		9F3ED5		AD66D5
*/

h1 { font-family: 'Yanone Kaffeesatz', arial, serif;
     font-size: 250%;
     color: #FFDE00;
   }

p { font-family: 'Droid Serif', arial, serif;
    color: #333333;
  }

#ft p {
    color: #eeeeee;
}

body { background-color: #006E4A;
     }

table { font-family: 'Droid Serif', arial, serif;
        font-size: 80%;
        color: #333333;
        border-bottom: 1px solid;
      }

div#bd { background-color: #EEEEEE;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border: 1px solid #000;
         padding: 10px;
       }

div#tasklist { background-color: #333333;
               -moz-border-radius: 5px;
               -webkit-border-radius: 5px;
               padding: 10px;
             }

#tasklist ul {
    color: #eeeeee;
    }
th { border-bottom: 1px solid; }
