/* Etorrent style sheet */
/*
 * FFDB71 BFAB70 A68525 FFE495 FFEBB1
 * 976AD6 7D64A1 4E228B B791EB C4A9EB
 * 64A4D1 60849D 215D88 8DC3E8 A6CDE8
*/

h1 { font-family: 'Yanone Kaffeesatz', arial, serif;
     font-size: 250%;
     color: #FFDB71;
   }

h2 { font-family: 'Yanone Kaffeesatz', arial, serif;
     font-size: 190%;
     color: #333333;
   }

p { font-family: 'Droid Serif', arial, serif;
    color: #333333;
  }

#ft p {
    color: #eeeeee;
}

body { background-color: #64A4D1;
       font-family: 'Droid Serif', arial, serif;
     }

table { font-family: 'Droid Serif', arial, serif;
        font-size: 80%;
        color: #333333;
        border-bottom: 1px solid;
      }

th { padding: 1px 3px; }
td { padding: 1px 3px; }

div#hd { padding-left: 10px; }
div#ft { padding-left: 10px; }

div#bd { background-color: #EEEEEE;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border: 1px solid #000;
         padding: 10px;
       }

div#downloading_list {
    margin-bottom: 20px;
}

div#tasklist { background-color: #333333;
               -moz-border-radius: 5px;
               -webkit-border-radius: 5px;
               padding: 10px;
             }

#tasklist ul {
    color: #eeeeee;
    }
th { border-bottom: 1px solid; }

tr:nth-child(even) {
    background: #eee;
}

tr:nth-child(odd) {
    background: #ddd;
}

span#time {
    padding-right: 20px;
}

table {
    margin: 10px 0px 15px;
    text-align: left;
}

table thead tr .header {
        background-image: url(/images/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
}

table thead tr .headerSortUp {
   background-image: url(/images/asc.gif);
}
table thead tr .headerSortDown {
   background-image: url(/images/desc.gif);
}

table thead tr .headerSortDown, table thead tr .headerSortUp {
    background-color: #976ad6;
}

