{erl_opts, [
	    %% bin_opt_info,
	    warn_format,
	    warn_export_all,
	    warn_export_vars,
	    warn_obsolete_guard,
	    %% warn_unused_import,
            warn_bif_clash,
	    %% warn_missing_spec,
	    warn_untyped_record,
	    debug_info]}.

{cover_enabled, true}.

{dialyzer_opts, [{warnings, [error_handling,
			     race_conditions,
			     behaviours]}]}.

{xref_checks, [undefined_function_calls,
	       locals_not_used,
	       exports_not_used]}.
