[{etorrent,
	[{port, 1729},
	 {dir, "/var/tmp/etorrent"}]},
	 {logger_dir, "/var/log/etorrent"},
	 {logger_max_bytes, 64000},
	 {logger_max_files, 10}]},

 {kernel,
	[{start_timer, true}]}
#  {sasl,
# 	[{sasl_error_logger, {file, "err.log"}},
# 	 {errlog_type, all}]}
].
