[{etorrent,
	[{port, 1729},
	 {dir, "/var/tmp/etorrent"},
	 {logger_dir, "/var/log/etorrent"},
	 {logger_fname, "etorrent.log"}]},

 {kernel,
	[{start_timer, true}]}
#  {sasl,
# 	[{sasl_error_logger, {file, "err.log"}},
# 	 {errlog_type, all}]}
].
