{erl_opts, [
            %% bin_opt_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import,
            warn_bif_clash,
            %% warn_missing_spec,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.
