{port, 3721}.
{dht, true}.
{azdht, true}.
{pex, false}.
{udp_port, 3722}.
{dht_port, 3723}.
{azdht_port, 3724}.
{dht_state, "/home/jlouis/etorrent/spool/dht_state.bin"}.
{azdht_state, "/home/jlouis/etorrent/spool/azdht_state.bin"}.
{dir, "/home/jlouis/etorrent/torrent_data"}.
{download_dir, "/home/jlouis/etorrent/torrent_data"}.
{dirwatch_interval, 20}.
{fast_resume_file, "/home/jlouis/etorrent/spool/fast_resume_state.dets"}.

{etorrent_logger_dir, "log"}.
{webui, true}.
{webui_logger_dir, "log/webui"}.

{max_download_rate, 1200}.
{max_upload_rate  , 1200}.

{use_upnp, false}.

{sasl_error_log, "log/sasl/sasl-error.log"}.

{preallocation, sparse}.
