{port, 1729}.
{dht, true}.
{udp_port, 1730}.
{dht_port, 6882}.
{dht_state, "/Users/jlouis/etorrent/spool/dht_state.dets"}.
{dir, "/Users/jlouis/etorrent/torrent_data"}.
{download_dir, "/Users/jlouis/etorrent/torrent_data"}.
{dirwatch_interval, 20}.
{fast_resume_file, "/Users/jlouis/etorrent/spool/fast_resume_state.dets"}.

{etorrent_logger_dir, "log"}.
{webui, true}.
{webui_logger_dir, "log/webui"}.

{max_download_rate, 1200}.
{max_upload_rate  , 1200}.

{use_upnp, false}.

{sasl_error_log, "log/sasl/sasl-error.log"}.

{preallocation, sparse}.
