%% -*- mode: Erlang; -*-
[{etorrent_core,
  [{azdht, false}]},
 {azdht,
  [{state_filename, "spool/azdht.state"}]},
 {lager,
  [{handlers, [{lager_console_backend, notice},
               {lager_file_backend, [{file, "error.log"}, {level, error}]},
               {lager_file_backend, [{file, "console.log"}, {level, info}]}
              ]}
  ]},
 {kernel,
  [{start_timer, true}]}
].
