{port, 1729}.
{dht, true}.
{udp_port, 1730}.
{dht_port, 6882}.
{dht_state, "/home/user/etorrent/spool/dht_state.dets"}.
{dir, "/home/user/etorrent/torrent_data"}.
{download_dir, "/home/user/etorrent/torrent_data"}.
{dirwatch_interval, 20}.
{fast_resume_file, "/home/user/etorrent/spool/fast_resume_state.dets"}.

{etorrent_logger_dir, "log"}.
{webui, true}.
{webui_logger_dir, "log/webui"}.

{use_upnp, true}.

{sasl_error_log, "log/sasl/sasl-error.log"}.

{preallocation, sparse}.
