{port, 1729}.
{dht_port, 6882}.
{dht_state, "/var/local/etorrent/spool/dht_state.persistent"}.
{dir, "/var/local/etorrent/torrent_data"}.
{fast_resume_file, "/var/local/etorrent/spool"}.
{mnesia_dir, "/var/local/etorrent/spool/mnesia"}.

{etorrent_logger_dir, "log"}.
{webui_logger_dir, "log/webui"}.

{sasl_error_log, "log/sasl/sasl-error.log"}.
